body{
    background: url('../img/loki.jpg') no-repeat; 
    background-size: 100%;
}
.card{
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32x 0 rgba(0, 0, 0, 0.37);
    color: white;
    width: 100%;
    max-width: 400px;
}
.form-control{
    background-color: rgba(255, 255, 255, 0.2);
}
.form-control::placeholder{
    color: #ddd;
}
.form-control:focus{
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border: none;
    box-shadow: none;
}
.social-btn{
    width: 48%;
}